@tailwind base;
@tailwind components;
@tailwind utilities;

/* --------------------------------------------------------------------------------------------my header */

.my-menu-list ul {
  gap: 20px;
}

.my-menu-list ul>li>a {
  text-decoration: none;
  color: unset;
  transition: all ease 0.3s;
}

.my-menu-list ul>li:hover>a {
  color: #ff8a00;
}

.my-menu-list ul>li>a img {
  transition: all 0.3s ease-in-out;
}

.my-menu-list ul>li:hover a .drop {
  transform: rotate(-180deg);
}

/* ----------------------------------------------------------------------------nav-submenu style */

.my-menu-list ul .nav-submenu {
  position: absolute;
  left: 50%;
  transform: translateX(-100%);
  opacity: 0;
  z-index: -999;
  transition: all 0.5s ease-in-out;
  padding-top: 40px;
  width: 98.95vw;
  height: 100vh;
  margin-top: 20px;
}

.my-menu-list ul li:hover .nav-submenu {
  transform: translateX(-50%);
  z-index: 99;
  opacity: 1;
  background: white;
}

